@model int 

    <td role="group" class="btn-group">
        <a asp-area="Admin" asp-controller="SubCategory" asp-action="Edit" asp-route-id="@Model" class="btn btn-primary text-white">
            <i class="fas fa-edit"></i>
        </a>
        <a asp-area="Admin" asp-controller="SubCategory" asp-action="Details" asp-route-id="@Model" class="btn btn-success text-white">
            <i class="fas fa-list-alt"></i>
        </a>
        <a asp-area="Admin" asp-controller="SubCategory" asp-action="Delete" asp-route-id="@Model" class="btn btn-danger text-white">
            <i class="fas fa-trash-alt"></i>
        </a>
    </td>